body {
  background:url('/../images/Metallic-Blue1.jpg');
  z-index: 0;
}

.counter {
  color:white;
}
  /**************** Stage Backgrounds *************/
.overlay{
    position:fixed;
    background:url('/../images/Metallic-Blue24.jpg');
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.05;
    z-index: -1;
  }

  /**************** Animations (KeyFrames) ****************/
  @keyframes scroll{
    100%{
      background-position:0px 3000px;
    }
  }
  
  